$color-primary: #55c57a;
$color-grey-light-1: #f7f7f7;


$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-light-grey: #777;
$color-white: #fff;
$color-black: #000;
$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;
$color-secondary-light: #8a75ff;
$color-secondary-dark: #6451cf;
