@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
    /* transform: rotate(0.4turn); */
    /* transform: rotate(-60deg); */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes MoveBtnUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(0);
  }
}
